:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  width: 100%;
  max-width: 750px;
  height: auto;
}


button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

#start{
  background-color: #4CAF50; /* Green */
}

#reset{
  background-color: #4c53af; /* Green */
}

#stop{
  background-color: #aa1313; /* Green */
}